.accordions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.accordion {
  h3 {
      background-color: transparent;
      color: var(--app-color-secondary);
      border: 1px solid var(--app-color-secondary);
      padding: 0.75rem 2rem;
      border-radius: 2px;
      font-size: 1rem;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.08);
      transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
      cursor: pointer;
  }

  h3:hover {
      background-color: var(--app-color-secondary-shade);
      color: var(--app-color-lightgray-tint);
      border-color: var(--app-color-secondary-shade);
      box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  }

  .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s ease-in-out;
  }

  .accordion-content p {
      color: var(--app-color-secondary-shade);
      padding: 0.75rem 2rem;
      margin: 0.5rem 4px;
      border-left: 1px solid var(--app-color-secondary-dark);
      border-right: 1px solid var(--app-color-secondary-dark);
  }

  &.open h3 {
      background-color: var(--app-color-secondary-dark);
      color: var(--app-color-lightgray-tint);
      border-color: var(--app-color-secondary-dark);
  }

  &.open .accordion-content {
      max-height: 600px;
      transition: max-height 0.5s ease-in-out;
  }

  &.open .accordion-content p {
      background-color: transparent;
      text-shadow: 2px 2px 3px rgb(var(--app-color-secondary-rgb), 0.4);
  }
}

@media only screen and (min-width: 870px) {
  .accordions {
      gap: 1rem;
  }

  .accordion h3 {
      padding: 0.75rem 3rem;
      border-radius: 60px;
  }

  .accordion .accordion-content p {
      color: var(--app-color-secondary-dark);
      padding: 0.75rem 2rem;
      margin: 0.5rem 2rem;
  }
}