@charset "UTF-8";
@import url(./variaveis.css);



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html, body {
  font-family: var(--app-font-noto);
  font-family: var(--app-font-mont);
  min-width: 350px;
  width: 100vw;
  color: var(--app-color-secondary);
  background-color: var(--app-color-light-tint);
}

h1 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1, p {
  color: var(--app-color-text);
}

h2 {
  text-align: center;
  margin: 1rem 0;
  background: var(--app-color-secondary);
  background: radial-gradient(circle farthest-side at center center, var(--app-color-secondary) 0%, var(--app-color-secondary-shade) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  background-color: var(--app-color-secondary);
  color: var(--app-color-light);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  border-radius: 0.625rem;
  margin: 1.5rem 0;
}

a:hover {
  background-color: var(--app-color-secondary-dark);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

a:active {
  background-color: var(--app-color-secondary-shade);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}


.fb-img {
  width: 80%;
  box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.2);
}

ul, li {
  list-style: none;
  padding: 1rem;
}


