main {
  margin: 0 auto;
  padding: 3rem 0 0;
}

main .separator-mini {
  margin: 0 auto;
}

main section.content .with-backg {
  margin: 0 auto;
}

main section.content article.first,
main section.content article.second {
  margin: 0 auto;
}

@media only screen and (min-width: 490px) {
  main {
      padding: 3rem 2rem 0;
  }
}

@media only screen and (min-width: 870px) {
  main {
      padding: 3rem;
      padding-bottom: 0;
  }

  main .separator-mini {
      margin: 0;
  }
}