main {
  margin: 0 auto;
  padding: 3rem 0 4rem; /* Simplificado */
}

main .separator-mini {
  margin: 0 auto;
}

main section.content .with-backg { /* Simplificado o seletor */
  margin: 0 auto;
}

main section.content article.first,
main section.content article.second {
  margin: 0 auto;
}

@media only screen and (min-width: 490px) {
  main {
      padding: 3rem 2rem 4rem; /* Simplificado */
  }
}

@media only screen and (min-width: 870px) {
  main {
      padding: 3rem; /* Simplificado */
  }

  main .separator-mini {
      margin: 0;
  }
}