main {
  margin: 0 auto;
  padding: 3rem 0 4rem 0;
}

main .separator-mini {
  margin: 0 auto;
}

main section.content {

  .with-backg  {
    margin: 0 auto;
  }
}

main section.content article.first,
main section.content article.second {
  margin: 0 auto;
}


@media only screen and (min-width: 490px) {
  main {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  main .separator-mini {
    margin: 0 auto;
  }
}



@media only screen and (min-width: 870px) {
  main {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  main .separator-mini {
    margin: 0;
  }
}