@charset "UTF-8";

@import url(./global.css);
@import url(./variaveis.css);


main.container {
  width: 100vw;
  min-width: 320px;
}

main.container section.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main.container section.content article {
  width: 84%;
}

main.container section.content article.first {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
}

main.container section.content article.second {
  width: 100%;
  .titles {
    width: 84%;
  }
}

main.container section.content article.first.center {
  align-items: center;
  text-align: center;
}

main.container section.content article.first.center .date-and-time {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main.container section.content article.first.center .date,
main.container section.content article.first.center .time {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}


main.container section.content article.second,
main.container section.content article.second .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .titles {
    gap: 1.5rem;

    h4 {
      background-color: rgb(var(--app-color-primary-rgb), 0.16);
      font-size: 0.875rem;
      max-width: 350px;
      padding: 0.75rem 3rem;
    }

    h2 {
      font-size: 1.75rem;
      max-width: 350px;
    }

    .btn {
      color:  var(--app-color-primary-shade);
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase;
      border: 1px solid var(--app-color-primary-shade);
      border-radius: 1.25rem;
      padding: 0.75rem 1.5rem;
    }

    .btn:hover {
      background-color: var(--app-color-primary-shade);
      color: var(--app-color-light-tint);
      transition: 0.5s;
    }
  }
}












/*
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
}

section article a {
  width: 95%;
  align-self: center;
}





 Configurações da imagem de fundo nas imagens com a classe "with-backg(background)" 

.with-backg  {
  background: linear-gradient(135deg, var(--app-color-primary-30), var(--app-color-primary-50));
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 20px 32px 2px rgba(0, 0, 0, 0.1);
}

.with-backg img {
  width: 75%;
}

 Configurações da primeira section: class "home"

.home {


 Article home-1
  .home-1 {
    h1 {

      span {
        color: var(--app-color-secondary);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      }
    }

    .date-and-time {
      display: flex;
      flex-direction: column;
  
      gap: 0.825rem;
    }

    .date-and-time p {
      display: flex;
      align-items: center;
    }

    .date-and-time svg {
  
    }

    a {
  
  
    }

    a:hover {
      background-color: var(--app-color-secondary-dark);
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    }

    a:active {
      background-color: var(--app-color-secondary-shade);
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    }
  }

 Article home-2 
  #home-2 {




    h4 {
      background-color: rgb(var(--app-color-primary-rgb), 0.16);
      font-size: 0.875rem;
      width: 72%;
    }

    h2 {
      font-size: 1.75rem;
      width: 80%;
      background: var(--app-color-secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }


    img {
      width: 100%;
    }
  }
}

 Configurações da section: class "benefits" e class "for-whom" 
.benefits,
.for-whom {
  gap: 0.75rem;

  #benefits-2,
  #for-whom-1 {
    align-items: start;
    gap: 1rem;


    h2 {
      text-align: left;
    }

    .item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 0.75rem;
  

      img .translate {
        translate: 0px 2px;
      }

      p {
        text-align: justify;
    
      }
    }
  }
}

 Configurações da section: class "about-us" 
.about-us {

  .about article {


    p {
  
      text-align: justify;
    }
  }
}


 Configurações da section: class "faq" 

.faq {
  ul {
    max-width: 700px;

  }

  li h3 {

  }

  p {

  }
}



















 Configurações para telas maior que 490px de largura, celulares maiores e tablets pequenos 

@media only screen and (min-width: 490px) {
  main {
    max-width: 521px;




    box-shadow: 0px 0px 30px 16px rgba(var(--app-color-secondary-rgb), 0.3);
  }

  .separator {

  }

  section article {
    gap: 1rem;

    flex: 1;
  }

  .home, .about {

  }

  section article#home-2 {
  
      background-color: var(--app-color-primary-10);
      align-items: center;
      text-align: center;
      min-width: 432px;
      border-radius: 0.5rem;
  

      h2 {
        width: 70%;
    
      }

      .btn {
        border-radius: 1.5rem;
    
      }

      img {
        border-radius: 0.5rem;
      }
  }
}



 Configurações para telas maior que 870px de largura, tablets e monitores 

@media only screen and (min-width: 870px) {
  main {
    max-width: 1024px;


  }

  section article a {
    align-self: self-start;
  }

  .home, .benefits, .for-whom, .about {
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;

  }
  
  .benefits, .for-whom {
    align-items: center;
  }

  .home article,
  .benefits article#benefits-2,
  .for-whom article#for-whom-1 {
    align-items: start;
    gap: 1rem;
    text-align: left;

    flex: 1;
  }

  .benefits,
  .for-whom  {
    align-items: center;




    #benefits-2,
    #for-whom-1 {
      h2 {
    
      }
      a {
        align-self: center;
      }
    }
  }

  .home div svg {

  }



  .home {
    .home-1 {
        h1 {
        text-align: start;
      }

      .separator {
        align-self: self-start;
      }
    }
  }

  .separator {

  }

  .feedback {
    max-width: 700px;
    flex-direction: column;

  }

  .about-us .about.reverse {
    flex-direction: row-reverse;
  }

  .about-us .separator.mini {

  }

  .about {

  }
} */